.spinner{
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    animation: spinning 1s infinite;
}

@keyframes spinning{
    0%{
        transform: translate(0deg);
    }
    100%{
        transform: translate(360deg);
    }
}